.gridimage
    .grid-container
        .sm-ab-v
            img(src="../../images/writing.jpg")
        .big
            img(src="../../images/inner.jpg")      
        .sm-r-t
            img(src="../../images/mouseptr1.jpg")
        .sm-r-2
            img(src="../../images/mouseptr2.jpg")
        .horizintal
            img(src="../../images/writing.jpg")
        .sma-bot
            img(src="../../images/writing.jpg")
        .vert
            img(src="../../images/writing.jpg")
