// html, body, .grid-container { height: 100%; margin: 0; }
.gridimage{
  background-color: white;
  padding: 50px 0px 50px 0px;

  &__heading{
    padding: 50px;
    word-spacing: 4px;

  }
  &__button{
    text-align: center;
    padding: 50px;
  }
  &__btn{
    background-color: 	#383735;
    border: 0px transparent;;
    font-size: 18px;
    padding: 8px 75px 8px 75px;
    color: white;
  }

  &__grid-container * { 
  //  border: 1px solid red;
    position: relative;
  }

// .grid-container *:after { 
//  content:attr(class);
//  position: absolute;
//  top: 0;
//  left: 0;
// }

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "cell1 cell2 cell2 cell3" "cell4 cell2 cell2 cell5" "cell4 cell6 cell7 cell7";
  }

  &__cell1 {  grid-area:cell1;  }

  &__cell2 { grid-area: cell2; }

  &__cell3 { grid-area: cell3; }

  &__cell4 { grid-area: cell4; }

  &__cell5 { grid-area: cell5; }

  &__cell6 { grid-area: cell6; }

  &__cell7 { grid-area: cell7; }

  &__image{
    width: 100%;
    height: 100%;
  }
  @media (min-width: 992px){

    &__container {
        max-width: 730px;
    }
  }
  @media (max-width: 767px){
    padding: 0px 0px 0px 0px;

    &__container{
      padding: 0px;
    }
    &__grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "cell1 cell3" "cell2 cell2" "cell2 cell2" "cell4 cell5" " cell4 cell6" "cell7 cell7";
    }
    &__button{
      
      // padding: 50px 10px 50px 10px;;
    }
    &__btn{  
      padding: 8px 45px 8px 45px;
      font-size: 12px;
     
    }
    &__heading{
      padding: 15px;
    }
    &__button{
      padding: 15px;

    }
  }


}