.gridimage
    h3.gridimage__heading.text-center Our realizations
    .container.gridimage__container
        .grid-container.gridimage__grid-container
            .gridimage__cell1
                img.gridimage__image(src="../../images/gridimg1.jpg" alt="image1")
            .gridimage__cell2
                img.gridimage__image(src="../../images/gridimg2.jpg" alt="image2")
            .gridimage__cell3
                img.gridimage__image(src="../../images/gridimg3.jpg" alt="image3")
            .gridimage__cell4
                img.gridimage__image(src="../../images/gridimg4.jpg" alt="image4")
            .gridimage__cell5
                img.gridimage__image(src="../../images/gridimg5.jpg" alt="image5")
            .gridimage__cell6
                img.gridimage__image(src="../../images/gridimg6.jpg" alt="image6")
            .gridimage__cell7
                img.gridimage__image(src="../../images/gridimg7.jpg" alt="image7")
    .gridimage__button
        button.gridimage__btn(type='button') Check out more projects
