.dottedbg {
        
    background-image: radial-gradient(#98989A 5%, #302E2D 8%);
    background-position: 0 0;
    background-size: 20px 20px;
    padding: 100px;

    &__main-container {
        background-color:rgb(29, 29, 29);
        color: #ffffff;  
        padding: 0px;
        // width: 60%;
        // height: 60%;     
    }

    &__heading {
        line-height: 0.8;
        // font-size: 18px;
    }

    &__inner-image {
        width: 100% !important;
        height: 100%;
    }

    &__left-col {
        padding: 50px 71px 50px 71px;
    }

    &__right-col {
        padding: 0px;
    }

    &__p {
        padding: 25px 0px 25px 0px;
    }

    @media (max-width:768px) {
        padding: 0px;

        &__left-col {
            padding: 50px;
        }

        &__heading {
            line-height: 0.8;
            // font-size: vw;
        }  
    }

    @media (min-width:768px) and (max-width:1024px) {

        padding: 50px;

        &__left-col {
            padding: 50px;
        }

        &__heading {
            line-height: 0.8;
            // font-size: 7vw;
        }
    }

    @media (min-width: 1200px) {
    
        &__main-container {
            max-width: 872px;
        }
    }
}