.dottedbg
    .container.dottedbg__main-container 
        .row(style="margin:0;")
            .col-md-6.dottedbg__left-col
                h1.dottedbg__h1 Benny
                h1.dottedbg__h1 Benny
                p.dottedbg__p
                    |Duis dignissim
            .col-md-6.dottedbg__right-col
                img.dottedbg__inner-image(src="../../images/inner.jpg" alt="heroimage")
                