//- .vid-modal
//-     ul.vid-modal__ul
//-         li.vid-modal__li
//-             h3.vid-modal__h3 Watch the video
//-                 br
//-                 | presentation
//-         li.vid-modal__li
//-             button.vid-modal__btn(type='button' data-toggle='modal' data-target='#exampleModal')
//-                 span.vid-modal__playbtn &#9656;
//-             // Modal
//-             #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
//-                 .modal-dialog(role='document')
//-                     .modal-content
//-                         .modal-header
//-                             h5#exampleModalLabel.modal-title Video presentation
//-                             button.close(type='button' data-dismiss='modal' aria-label='Close')
//-                                 span(aria-hidden='true') &times;
//-                         .modal-body
//-                             iframe(style="width:560px; height:315px;" src="https://www.youtube.com/embed/YE7VzlLtp-4?autoplay=1" frameborder="0" allowfullscreen="" allow="autoplay")


            
//-         li.vid-modal__li.vid-modal__li--padding-less
//-             p.vid-modal__p Lorem ipsum dolor sit amet, consectetu adipisicing elit,
//-                 br
//-                 | sed do eiusmod tempor incididunt ut labore et dolore
//-                 br
//-                 | magna aliqua.
    
    iframe(style="width:560px; height:315px;" src="https://www.youtube.com/embed/YE7VzlLtp-4?autoplay=1" frameborder="0" allowfullscreen="" allow="autoplay")
    
.vid-modal
    .container.vid-modal__container
        .row(style="margin:opx;").vid-modal__row
            .col-md-4.vid-modal__one.vid-modal__col
                h3.vid-modal__h3 
                    |Watch the video
                    br
                    | presentation
            .col-md-4.vid-modal__two.text-center.vid-modal__col
                button.vid-modal__btn(type='button'  data-toggle='modal' data-target='#exampleModal' data-src="https://www.youtube.com/embed/On7kFBz25mU")
                    span.vid-modal__playbtn &#9656;
                #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true' )
                    .modal-dialog(role='document' )
                        .modal-content(style="background-color: #383735;")
                            .modal-header(style="color:white!important;")
                                h5#exampleModalLabel.modal-title 
                                button.close(type='button' data-dismiss='modal' aria-label='Close' style="outline: none!important; color:white!important;" )
                                span(aria-hidden='true') &times;
                            .modal-body
                                iframe.vid-modal__iframe( src="" frameborder="0" allowscriptaccess="always" allowfullscreen="" allow="autoplay") 
               
            .col-md-4.vid-modal__three.vid-modal__col
                p.vid-modal__p
                |Lorem ipsum dolor sit amet, consectetu adipisicing elit,
                | sed do eiusmod tempor incididunt ut labore et dolore 
                | magna aliqua.
//- ?autoplay=1 allow="autoplay"