.solutions
    .container.solutions__main-container
        h2.solutions__h2.text-center Solid and usable solution for
            br
            | home and business
            br
            | architecture
        .container.solutions__inner-container
            .row(style="margin=0;")
                .col-md-4.solutions__col.text-center
                    img.solutions__image(src="../../images/mouseptr1.webp", alt="mouse pointer")
                    p.solutions__sub Ut ultricies imperdiet sodales
                        br
                        | Lorem ipsum dolor.
                .col-md-4.solutions__col.text-center
                    img.solutions__image(src="../../images/hourglass.webp", alt="Hour glass",style="height: 92px;")
                    p.solutions__sub Fusce ut velit laoreet, tempus
                        br
                        | arcu, molestie tortor.
                .col-md-4.solutions__col.text-center
                    img.solutions__image(src="../../images/mouseptr2.webp", alt="mouse pointer",style="height: 92px;")
                    p.solutions__sub Mauris maximus velit
                        br
                        | commodo. Lorem ipsum dolor.



