.mainnav {
    // overflow-x: hidden;
    background-color:red !important;
    .navbar-toggler {
        border-color: rgb(0, 0, 0);
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    &__brand-a {
        font-weight: 300;
        font-family: 'Mukta', sans-serif;
        font-size: 30px;
        line-height: 0.69;
        padding-left: 30px;
        color: white;

    }
    &__brand {
        font-size: 60px;
        
    }
    &__navb-ul {
        // color: white !important;    
        float: right !important;
        // height: 70px; 
    }
    &__navb-ul-li {
        padding-left: 20px;
    }
    &__navb-ul-li-a {
        color: white !important;
        font-weight: 200;
    }
    &__underline{
        text-decoration: underline;
    }
}
