.mainnav#mainnavbar
    nav.navbar.navbar-expand-md
        a.mainnav__brand-a.navbar-brand(href='#') 
            span.mainnav__brand
                |T
            |he 
            br
            span.mainnav__brand
                |A
            |rchitect
        button.navbar-toggler.ml-auto(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.mainnav__idnav
            ul.navbar-nav.mainnav__navb-ul.pr-4
                li.mainnav__navb-ul-li.nav-item.active
                    a.mainnav__navb-ul-li-a.nav-link(href='#') Home
                
                li.mainnav__navb-ul-li.nav-item
                    a.mainnav__navb-ul-li-a.nav-link(href='#') Projects

                li.nav-item.mainnav__navb-ul-li
                    a.mainnav__navb-ul-li-a.nav-link(href='#') Details

                li.nav-item.mainnav__navb-ul-li
                    a.mainnav__navb-ul-li-a.nav-link(href='#') Story

                li.nav-item.mainnav__navb-ul-li
                    a.mainnav__navb-ul-li-a.nav-link(href='#') Contact
                    
                li.nav-item.mainnav__navb-ul-li
                    a.mainnav__navb-ul-li-a.mainnav__underline.nav-link(href='#') Buy now
            