.slider    
    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators.slider__list
            li.slider__items.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                a.slider__link(href="#") 01
            li.slider__items(data-target='#carouselExampleIndicators' data-slide-to='1')
                a.slider__link(href="#") 02
            li.slider__items(data-target='#carouselExampleIndicators' data-slide-to='2')
                a.slider__link(href="#") 03
            
                            
        .carousel-inner
            article.container.slider__article   
                h1.slider__h1 A fresh vision for 
                    br
                    |living space
            .carousel-item.active
                
                img.d-block.w-100(src='https://nerdbastards.com/wp-content/uploads/2012/07/oz-great-powerful-july-17-1.jpg' alt='First slide')
            .carousel-item
                img.d-block.w-100(src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/53583d29-638e-40a9-8f23-e51eb5b0f38d/d638r34-acc5ac1a-044f-4aba-a2a0-ba84b2d32253.jpg/v1/fill/w_1200,h_600,q_75,strp/horizons_by_ivanandreevich_d638r34-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAwIiwicGF0aCI6IlwvZlwvNTM1ODNkMjktNjM4ZS00MGE5LThmMjMtZTUxZWI1YjBmMzhkXC9kNjM4cjM0LWFjYzVhYzFhLTA0NGYtNGFiYS1hMmEwLWJhODRiMmQzMjI1My5qcGciLCJ3aWR0aCI6Ijw9MTIwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.BcSenTWo0IE7N1hgUmlyp7ChprYGxalR901dx0QdNXE' alt='Second slide')
            .carousel-item        
                img.d-block.w-100(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEleyVj2B3HzJl09gOFAjocMwu76iJbRtlBeOPJ3qZ5F9gs3zLeA' alt='Second slide')
        
        p.slider__p SEE OUR 
            span.slider__span-p PORTFOLIO  
        hr.slider__line.slider__hide-mob
        //- a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        //-     span.carousel-control-prev-icon(aria-hidden='true')
        //-     span.sr-only Previous
        //- a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        //-     span.carousel-control-next-icon(aria-hidden='true')
        //-     span.sr-only Next

