footer.foot
     .row(style="margin:0;").foot__row
            .col-lg-3.col-md-2.col-sm-3
                ul.foot__menu1
                    li
                        P Find us here  
                    li
                        a(href='') View Portfolio
                    li
                        a(href='#') Portfolio Value History
                    li
                        a(href='#') Statements & Tax Forms
                    li
                        a(href='#') Sign Up for Paperless Delivery of Documents     
            .col-lg-2.col-md-2.col-sm-3.middlefoot__contain__col-two
                ul.middlefoot__contain__menu
                    li
                        p INVESTMENTS
                    li
                        a(href='#') All American Funds
                    li
                        a(href='#') Compare Funds
                    li
                        a(href='#') Prospectuses & Annual Reports

            .col-lg-2.col-md-2.col-sm-3.middlefoot__contain__col-three 
                ul.middlefoot__contain__menu
                    li
                        p INSIGHTS
                    li
                        a(href='#') Investment Insights

            