extends ../../layouts/homeLayout.pug

block title
    title trial page

block bodyContent
    //- include ../../components/navbar/navbar.pug
    //- include ../../components/carousel/carousel.pug
    include ../../components/gridimage/gridimage.pug
