.vision
    .container.vision__container-one
        .container.vision__inner-container
            h3.vision__h3.justify-content-left
                |Let's sit down 
                br
                |and talk about
                br
                |your vision
            a.vision__a(href="#") Contact with us
    .container.vision__container-two
        img.vision__images(src="../../images/writing.jpg")