.vision
    .row(style="margin:0px;")
        .col-md-6.vision__col-one
            .container.vision__container
                h3.vision__h3.justify-content-left
                    |Let's sit down 
                    |and talk about
                    |your vision
                a.vision__a(href="#") Contact with us
        .col-md-6.vision__col-two
            img.vision__images(src="../../images/writing.jpg" alt="Writing man")