extends ../../layouts/homeLayout.pug

block title
    title Home page

block bodyContent
    include ../../components/navbar/navbar.pug
    include ../../components/carousel/carousel.pug
    include ../../components/dottedbg/dottedbg.pug
    include ../../components/solutions/solutions.pug
    //- include ../../components/gridimage/gridimage.pug
    include ../../components/youtube/youtube.pug  
    include ../../components/vision/vision.pug
    include ../../components/footer/footer.pug
    

    //- include ../../components/topfooter/topfooter.pug